# VALORANT TRACKER.GG SCRAPPER   
**get your game stats:**   
ACS   K   D  A  +/-  K/D    ADR  HS%  FK FD  MK   
**damage based on weapons** and **attack and defence data**

In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.action_chains import ActionChains
from helium import *
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
import os

**enter you match url and your game tag like SEF#6633**

In [20]:
url = 'https://tracker.gg/valorant/match/9b39bbb2-3ca2-402c-ad96-1feeac9dd098'
name = "SEF#6633"

In [21]:
browser = start_chrome(url, headless=True)

In [22]:
soup= BeautifulSoup(browser.page_source, 'html.parser')

In [23]:
matches= soup.find_all('table') #scrap just the table part of the page

In [24]:
matches = '<html><head></head><body>' + str(matches) + '</body></html>'
#make it as html file so pandas can read it 
#not pretty but get the job done

using pandas to convert the html table to a data frame so it is easier to extract the data:

In [25]:
table_matchesfull = pd.read_html(matches)

In [26]:
table_matchesfull

[              Team A  Current Rank  ACS   K   D  A  +/-  K/D    ADR  HS%  FK  \
 0          Ewan#7485           NaN  296  27  14  8   13  1.9  216.8  14%   3
 1  Fikuskukis56#EUNE           NaN  254  23  21  4    2  1.1  170.4  11%   4
 2  GIGAFire0700#7803           NaN  241  24  16  7    8  1.5  135.0   7%   3
 3           SEF#6633           NaN  142  13  22  5   -9  0.6   96.1   6%   3
 4      Kirigaya#3540           NaN   90   8  21  1  -13  0.4   59.7   5%   1

    FD  MK  Econ
 0   4   4    83
 1   1   2    62
 2   1   2    71
 3   1   0    35
 4   4   0    22  ,
              Team B  Current Rank  ACS   K   D   A  +/-  K/D    ADR  HS%  FK  \
 0  MinoLazy13#LOM13           NaN  378  34  17   6   17  2.0  215.2   7%   3
 1      SNAzHiro#EUW           NaN  261  23  20   4    3  1.1  162.1   6%   4
 2       joskiks#EUW           NaN  180  15  19   5   -4  0.8  125.2  13%   2
 3       AKUHEI#5421           NaN  140  12  16   4   -4  0.8   89.9  10%   0
 4   K1ngBurger#king           NaN  135   9  23  12  -14  0.4   91.7   5%   2

    FD  MK  Econ
 0   0   4    80
 1   5   1    63
 2   3   0    48
 3   1   1    40
 4   5   0    42  ]

In [27]:
tableA=table_matchesfull[0]['Team A']
tableB=table_matchesfull[1]['Team B']

In [28]:
index=0
table=0
for x in range(5):
  if tableA[x]== name:
        index=x+1
        table=1
  elif tableB[x]== name:
        index=x+1
        table=2
    
#to identify the players placement on the table so we can use it for the xpaths

In [29]:
pathme="/html/body/div[1]/div[2]/div[2]/div/main/div[2]/div[2]/div/div/div[1]/table["+ str(table)+ "]/tbody/tr["+str(index)+"]/td[1]/div"

In [30]:

options = Options()
options.add_argument("--window-size=1920,1080")
driver = webdriver.Chrome(options=options)
driver.get(url)
#click on verview 
folder = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[2]/div/main/div[2]/div[1]/header/nav/ul/li[2]").click()
#click on the player data
roler = driver.find_element_by_xpath(pathme).click()

In [32]:
page_source = driver.page_source

extracting the defence and attack data

In [33]:
soup = BeautifulSoup(page_source, 'lxml')

for row in soup.find_all('div', class_="stat-value"):
    print(row.text)

 7
 12
 4

        0.6


        1474

 6
 10
 1

        0.6


        929

extracting the damage done by weapons or against the enemies

In [34]:
table_matches = pd.read_html(page_source)
table_matches[3]

                         0   1        2            3
0    Assault Rifles Vandal NaN  Kills 8  Damage 1371
1  Assault Rifles Guardian NaN  Kills 4   Damage 551
2             SMGs Spectre NaN  Kills 1   Damage 104

In [35]:
table_matches[2]

   Kills  Deaths  Damage Dealt  Damage Received                Opponent
0      4       6           529              829       vs.  SNAzHiro#EUW
1      0       0            54                0  vs.  Fikuskukis56#EUNE
2      2       4           465              880        vs.  joskiks#EUW
3      4       4           920              750    vs.  K1ngBurger#king
4      0       5            18              775   vs.  MinoLazy13#LOM13
5      3       3           417              592        vs.  AKUHEI#5421